<!--it goes and load any static file if it is in this folder--> 
{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <!--this is bootstrap for who,e use phone to connect our app-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--we link our style.css file with this index.html file -->
        <link rel="stylesheet" href="{% static "myapp/style.css" %}">

        <title>Document</title>

    </head>

    <body>

        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                Book Store
            </a>
        </nav>

        <!--here the body is the name of block so we use this name in the index.html file too-->
        {% block body %}

        {% endblock %}

    </body>
</html>
